-# This is just for the index page's pre-set equipped weapons. the dynamically added ones are in the javascript template file

-# - weapons = JSON.parse('test_extracted/extracted.js')

- weapon_group_1_state ||= 'btn-default'
- weapon_group_2_state ||= 'btn-default'
- weapon_group_3_state ||= 'btn-default'

- case active_group
- when 1
  - weapon_group_1_state = 'btn-info assigned'
- when 2
  - weapon_group_2_state = 'btn-info assigned'
- when 3
  - weapon_group_3_state = 'btn-info assigned'

.row
  .col-lg-9
    %a{href: '#', class: 'js-fire btn-default btn-sm', data: { weapon_id: weapon[:weapon_id] }}<
      %span.glyphicon.glyphicon-screenshot
    %a{href: '#', class: 'js-strip btn-warning btn-sm'}<
      %span.glyphicon.glyphicon-remove
    %a{href: '#', class: "js-weapon_group #{weapon_group_1_state} btn-sm", data: {weapon_group: 1} }<
      %span.glyphicon.glyphicon-link 1
    %a{href: '#', class: "js-weapon_group #{weapon_group_2_state} btn-sm", data: {weapon_group: 2} }<
      %span.glyphicon.glyphicon-link 2
    %a{href: '#', class: "js-weapon_group #{weapon_group_3_state} btn-sm js-with_tooltip", data: {weapon_group: 3, toggle: 'tooltip', placement: 'top', 'original-title' => "Click to assign to weapon group"} }<
      %span.glyphicon.glyphicon-link 3
    = weapon[:name]
  .col-lg-3.weapon-cooldown-container
    .progress.horizontal
      .progress-bar.progress-bar-success.cooldown-meter.slas-cooldown.quick-reset{data: {weapon_id: "weapon_#{weapon[:weapon_id]}" }, role:'progressbar', aria: {valuemax: 5, valuetransitiongoal: 5, valuenow: 0} }
