.container
  .row
    %h1 Mechwarrior Online Weapon Heat Simulator

    .col-lg-6
      %small
        .alert.alert-info
          %ul
            %li This tool was last updated @ January 17, 2015 (Heat Quirks included, Cooldown quirks under development)
            %li
              Comment/Discuss on :
              %a.alert-link.text-warning{href: "http://mwomercs.com/forums/topic/135725-mechwarrior-online-heat-simulator/"} MWO Heat Simulator Thread
            %li
              Accepting Bitcoin donations @ address :
              %strong
                = link_to "1LVcZrW9pkiAgH3EX3AXSkWeQU3kUdunQh", "bitcoin:1LVcZrW9pkiAgH3EX3AXSkWeQU3kUdunQh?label=Mechwarrior+Online+Heat+Simulator"

    .col-lg-6
      .alert.alert-success
        Share this build:
        %span= link_to 'Right click and copy this link', '/', id: 'permalink', class: 'btn btn-success', data: {toggle: 'tooltip', placement: 'right', 'original-title' => 'Autosaved as you go'}

  .row
    .col-lg-3.col-md-3.col-sm-3
      .row
        %p
          .progress.vertical.wide.bottom
            #heatlevel.progress-bar.progress-bar-danger{aria: { valuemax: 3000 }}

      .row
        %p
          %a{id: 'flush_coolant', class: 'btn btn-success'}
            %span.glyphicon.glyphicon-tint
            Flush coolant

        %div
          Current Heat :
          %span.badge#current-heat-text 0

        %div
          Heat Threshold :
          %span#heat-threshold.badge

        %div
          .form-group
            .checkbox-inline
              %input{type: 'checkbox', id:'ghost_heat', data: {toggle: 'tooltip', placement: 'top', 'original-title' => 'Please note that Ghost Heat only works on linked-fire or Alpha, not on chain-fire'}}
              Enable Ghost Heat
              %span.badge{id: 'ghost_heat_penalty'}
        %hr

        %div
          Cooling time :
          %span.badge
            %span#cooldown_time 0
            sec

        %div
          Cooling Rate :
          %span.badge
            %span#cool-rate
            heat/sec

        %hr

        %p
          = partial 'armory/map'

        %p.engines
          = partial 'armory/engines'

        %p
          Heatsink Type
          %select#heatsink_type
            %option{value: 'single'} Single
            %option{value: 'double'} Double

        %p
          External Heatsink Count
          %input{type: 'text', id: 'heatsink-count', size: 2, value: 0}

        %p
          Internal Heatsink Count
          %span#internal-heatsinks.badge

        %hr
        .form-group
          .checkbox
            %input{type: 'checkbox', id:'skill_coolrun'}
            Cool Run Skill
          .checkbox
            %input{type: 'checkbox', id:'skill_containment'}
            Heat Containment Skill
          .checkbox
            %input{type: 'checkbox', id:'skill_elite'}
            Elite Mech

        %hr
        = partial 'armory/quirks'

        %h5 List of Weapon Quirks
        %ul.list-unstyled#quirks-list



    .col-lg-6.col-md-6.col-sm-6
      %h4 Equipped Weapons


      %ul.weapon-list.list-unstyled
        %li.equipped-weapon
          = partial 'armory/cooldown_meter', locals: {weapon: {weapon_id: '1003', name: 'Small Laser'}, active_group: 1, with_tooltip: 3}
        %li.equipped-weapon
          = partial 'armory/cooldown_meter', locals: {weapon: {weapon_id: '1001', name: 'Medium Laser'}, active_group: 2}
        %li.equipped-weapon
          = partial 'armory/cooldown_meter', locals: {weapon: {weapon_id: '1008', name: 'Large Laser'}, active_group: 3}
      .row
        .col-lg-8.col-md-8.col-sm-8
          %p
            %a#wg1{href: '#', class: 'js-with_tooltip js-fire_weapon_group btn btn-danger', data: {activate_group: 1, toggle: 'tooltip', placement: 'left', 'original_title' => "Click this or  press '1', '2', or '3' on your keyboard to fire weapon group"} }
              %span.glyphicon.glyphicon-screenshot
              Group 1
            %a#wg2{href: '#', class: 'js-fire_weapon_group btn btn-danger', data: {activate_group: 2} }
              %span.glyphicon.glyphicon-screenshot
              Group 2
            %a#wg3{href: '#', class: 'js-fire_weapon_group btn btn-danger', data: {activate_group: 3} }
              %span.glyphicon.glyphicon-screenshot
              Group 3
          %p
            %a{href: '#', id: 'js-alphastrike', class: 'btn btn-danger' }
              %span.glyphicon.glyphicon-exclamation-sign
              Alpha Strike
            %a{href: '#', id: 'js-stripall', class: 'btn btn-warning' }
              %span.glyphicon.glyphicon-trash
              Strip All

        .col-lg-4.col-md-4.col-sm-4
          %p.text-right
            Damage
            %span.badge.badge-danger
              %span#damage
                0
          %p.text-right
            DPS
            %span.badge.badge-danger
              %span#dps
                0.00

          %p.text-right
            %a{id: 'js-reset_damage', class: ' btn-xs btn-danger'}
              Reset damage

    .col-lg-3.armory.col-md-3.col-sm-3#armory
      Weapon Technology
      %input{type: 'checkbox', name: 'weapon_switcher', value: 'is'}

      #innersphere_weapons
        = partial 'armory/is_weapons'
      #clan_weapons
        = partial 'armory/clan_weapons'

.footer.text-center
  This thing ©2015 keikun17. Say Hello to me in-game @ 'Marthe Pryde'.
  %br
  MechWarrior: Online Copyright ©2014 Piranha Games Inc
