.container
  .row
    %h1 Mechwarrior Online Weapon Heat Simulator

    .col-lg-6
      %small
        .alert.alert-info
          %ul
            %li This tool was last updated @ January 8, 2014
            %li
              Comment/Discuss on :
              %a.alert-link.text-warning{href: "http://mwomercs.com/forums/topic/135725-mechwarrior-online-heat-simulator/"} MWO Heat Simulator Thread

    .col-lg-6
      .alert.alert-success
        .row
          .col-lg-12
            Share this build:
            %span= link_to 'Right click and copy this link', '/', id: 'permalink', class: 'btn btn-success', data: {toggle: 'tooltip', placement: 'right', 'original-title' => 'Autosaved as you go'}

  .row
    .col-lg-3.col-md-3.col-sm-3
      .row
        %p
          .progress.vertical.wide.bottom
            #heatlevel.progress-bar.progress-bar-danger{aria: { valuemax: 3000 }}

      .row
        %p
          Enable Ghost Heat :(
          %input{type: 'checkbox', id:'ghost_heat', data: {toggle: 'tooltip', placement: 'right', 'original-title' => 'Please note that Ghost Heat only works on linked-fire or Alpha, not on chain-fire'}}
          %span.badge{id: 'ghost_heat_penalty'}

        %p
          %a{id: 'flush_coolant', class: 'btn btn-success'}
            %span.glyphicon.glyphicon-tint
            Flush coolant

        %div
          Cooling time :
          %span.badge
            %span#cooldown_time 0
            sec

        %div
          Cooling Rate :
          %span.badge
            %span#cool-rate
            heat/sec

        %div
          Heat Threshold :
          %span#heat-threshold.badge

        %hr

        %p
          = partial 'armory/map'

        %p.engines
          = partial 'armory/engines'

        %p
          Heatsink Type
          %select#heatsink_type
            %option{value: 'single'} Single
            %option{value: 'double'} Double

        %p
          External Heatsink Count
          %input{type: 'text', id: 'heatsink-count', size: 2, value: 0}

        %p
          Internal Heatsink Count
          %span#internal-heatsinks.badge


        %hr
        %div
          Cool Run Skill
          %input{type: 'checkbox', id:'skill_coolrun'}

        %div
          Heat Containment Skill
          %input{type: 'checkbox', id:'skill_containment'}

        %div
          Elite Mech
          %input{type: 'checkbox', id:'skill_elite'}

    .col-lg-6.col-md-6.col-sm-6
      %h4 Equipped Weapons


      %ul.weapon-list.list-unstyled
        %li.equipped-weapon
          .row
            .col-lg-9
              %a{href: '#', class: 'js-fire btn-default btn-sm', data: { weapon_class: 'slas'}}<
                %span.glyphicon.glyphicon-screenshot
              %a{href: '#', class: 'js-strip btn-warning btn-sm'}<
                %span.glyphicon.glyphicon-remove
              %a{href: '#', class: 'js-weapon_group btn-info assigned btn-sm', data: {weapon_group: 1} }<
                %span.glyphicon.glyphicon-link 1
              %a{href: '#', class: 'js-weapon_group btn-default btn-sm', data: {weapon_group: 2} }<
                %span.glyphicon.glyphicon-link 2
              %a{href: '#', class: 'js-with_tooltip js-weapon_group btn-default btn-sm', data: {weapon_group: 3, toggle: 'tooltip', placement: 'top', 'original-title' => "Click to assign to weapon group"} }<
                %span.glyphicon.glyphicon-link 3
              Small Laser
            .col-lg-3.weapon-cooldown-container
              .progress.horizontal
                .progress-bar.progress-bar-success.cooldown-meter.slas-cooldown.quick-reset{ role:'progressbar', aria: {valuemax: 5, valuetransitiongoal: 5, valuenow: 0} }
        %li.equipped-weapon
          .row
            .col-lg-9
              %a{href: '#', class: 'js-fire btn-default btn-sm', data: { weapon_class: 'mlas'}}<
                %span.glyphicon.glyphicon-screenshot
              %a{href: '#', class: 'js-strip btn-warning btn-sm'}<
                %span.glyphicon.glyphicon-remove
              %a{href: '#', class: 'js-weapon_group btn-default btn-sm', data: {weapon_group: 1} }<
                %span.glyphicon.glyphicon-link 1
              %a{href: '#', class: 'js-weapon_group btn-info assigned btn-sm', data: {weapon_group: 2} }<
                %span.glyphicon.glyphicon-link 2
              %a{href: '#', class: 'js-weapon_group btn-default btn-sm', data: {weapon_group: 3} }<
                %span.glyphicon.glyphicon-link 3
              Medium Laser
            .col-lg-3.weapon-cooldown-container
              .progress.horizontal
                .progress-bar.progress-bar-success.cooldown-meter.mlas-cooldown.quick-reset{ role:'progressbar', aria: {valuemax: 5, valuetransitiongoal: 5, valuenow: 0} }
        %li.equipped-weapon
          .row
            .col-lg-9
              %a{href: '#', class: 'js-fire btn-default btn-sm', data: { weapon_class: 'llas'}}<
                %span.glyphicon.glyphicon-screenshot
              %a{href: '#', class: 'js-strip btn-warning btn-sm'}<
                %span.glyphicon.glyphicon-remove
              %a{href: '#', class: 'js-weapon_group btn-default btn-sm', data: {weapon_group: 1} }<
                %span.glyphicon.glyphicon-link 1
              %a{href: '#', class: 'js-weapon_group btn-default btn-sm', data: {weapon_group: 2} }<
                %span.glyphicon.glyphicon-link 2
              %a{href: '#', class: 'js-weapon_group btn-info assigned btn-sm', data: {weapon_group: 3} }<
                %span.glyphicon.glyphicon-link 3
              Large Laser
            .col-lg-3.weapon-cooldown-container
              .progress.horizontal
                .progress-bar.progress-bar-success.cooldown-meter.llas-cooldown.quick-reset{ role:'progressbar', aria: {valuemax: 5, valuetransitiongoal: 5, valuenow: 0} }
      .row
        .col-lg-8.col-md-8.col-sm-8
          %p
            %a#wg1{href: '#', class: 'js-with_tooltip js-fire_weapon_group btn btn-danger', data: {activate_group: 1, toggle: 'tooltip', placement: 'left', 'original_title' => "Click this or  press '1', '2', or '3' on your keyboard to fire weapon group"} }
              %span.glyphicon.glyphicon-screenshot
              Group 1
            %a#wg2{href: '#', class: 'js-fire_weapon_group btn btn-danger', data: {activate_group: 2} }
              %span.glyphicon.glyphicon-screenshot
              Group 2
            %a#wg3{href: '#', class: 'js-fire_weapon_group btn btn-danger', data: {activate_group: 3} }
              %span.glyphicon.glyphicon-screenshot
              Group 3
          %p
            %a{href: '#', id: 'js-alphastrike', class: 'btn btn-danger' }
              %span.glyphicon.glyphicon-exclamation-sign
              Alpha Strike
            %a{href: '#', id: 'js-stripall', class: 'btn btn-warning' }
              %span.glyphicon.glyphicon-trash
              Strip All

        .col-lg-4.col-md-4.col-sm-4
          %p.text-right
            Damage
            %span.badge.badge-danger
              %span#damage
                0
          %p.text-right
            DPS
            %span.badge.badge-danger
              %span#dps
                0.00

          %p.text-right
            %a{id: 'js-reset_damage', class: ' btn-xs btn-danger'}
              Reset damage

    .col-lg-3.armory.col-md-3.col-sm-3#armory
      = partial 'armory/weapons'

.footer.text-center
  This thing ©2014 keikun17. Say Hello to me in-game @ 'Marthe Pryde'.
  %br
  MechWarrior: Online Copyright © 2013 Piranha Games Inc
  %br
  Source code at
  = link_to "Github", 'https://github.com/keikun17/mwo_heat_simulator'
